In [1]:
i=1
j=0
while i<6:
    if j<6:
        print(i+j)
    i=i+1

1
2
3
4
5

In [2]:
my_list=[]
i=1
while i<22:
    my_list.append(i)
    print(my_list)
    i=i+1

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [3]:
my_list=[]
i=1
while i<22:
    my_list.insert(0,i)
    print(my_list)
    i=i+1

[1]
[2, 1]
[3, 2, 1]
[4, 3, 2, 1]
[5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
i=19
while i<42:
    if i%2!=0:
        print(i," ",i**3)
    i=i+1

19   6859
21   9261
23   12167
25   15625
27   19683
29   24389
31   29791
33   35937
35   42875
37   50653
39   59319
41   68921

In [5]:
name=("priti","utkarsha","monika","sneha","rutu")
age=(20,21,22,23,24)
i=0
while i in range(len(name)):
    print("my name is", name[i], "my age is", age[i])
    i=i+1

my name is priti my age is 20
my name is utkarsha my age is 21
my name is monika my age is 22
my name is sneha my age is 23
my name is rutu my age is 24

In [6]:
l=[4,5,-65,-7,-15,6]
s=0
i=1
while i in l
    if i>0:
        s=s+i
print(s)
i=i+1

SyntaxError: invalid syntax (1504255200.py, line 4)